<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="re_je_mobile_platform">
    <xacro:macro name="re_je_mobile_platform" params="prefix">
        <link name="${prefix}platform">
            <visual>
                <geometry>
                    <mesh filename="package://mobile_description/meshes/collision/re_je_mobile.stl" />
                </geometry>
                <material name="greyish">
                    <color rgba="0.8 0.8 0.8 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://mobile_description/meshes/collision/re_je_mobile.stl" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>
</robot>
